<div class="main posts-new">
  <div class="container">
    <%= form_with model: @post, local:true do |f| %>
      <div><%= f.label :"投稿する" %></div>

      <% @post.errors.full_messages.each do |message| %>

        <%= message %>
    
      <% end %>
     <div><%= f.text_area :content %></div>
     <div><%= f.submit "投稿" %></div>
    <% end %>
  </div>
</div>