<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div>
          <%= link_to @user.name,user_path %>
      </div>
        <p>
          <%= @post.content %>
        </p>
       <div class = "post-time">
         <%= @post.created_at %>
       </div>
      <tr>
       <div class = "post-menus">
        <td><%= link_to "編集", edit_post_path %></td>
        <td><%= button_to "削除", post_path(@post), method: :delete %></td>
       </div>
      </tr>   
    </div>
  </div>
</div>